<a href="https://colab.research.google.com/github/Priya2029/Priya2029/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pip install jupysql --upgrade duckdb-engine --quiet

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 3.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 3.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 8.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.9/117.9 kB 7.6 MB/s eta 0:00:00

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# Loading in SQL extension
%reload_ext sql
# Initiating a DuckDB database named 'bank.duck.db' to run our SQL queries on
%sql duckdb:///bank.duck.db

Connecting to 'duckdb:///bank.duck.db'

In [6]:
%%sql
CREATE OR REPLACE TABLE zomato AS
SELECT *
FROM read_csv_auto('/content/Zomato_Dataset.csv', header=True, sep=',');

Running query in 'duckdb:///bank.duck.db'

+-------+
| Count |
+-------+
+-------+

In [7]:
%%sql
SELECT *
FROM zomato
LIMIT 1;

Running query in 'duckdb:///bank.duck.db'

+--------------+------------------+-------------+-------------+-------------------------------------------------------------------------+-------------------------------------------+--------------------------------------------------------+----------------------------+------------------+-------------------+---------------------+-------------------+----------------------+-------------+-------+----------------------+--------+
| RestaurantID |  RestaurantName  | CountryCode |     City    |                                 Address                                 |                  Locality                 |                    LocalityVerbose                     |          Cuisines          |     Currency     | Has_Table_booking | Has_Online_delivery | Is_delivering_now | Switch_to_order_menu | Price_range | Votes | Average_Cost_for_two | Rating |
+--------------+------------------+-------------+-------------+-------------------------------------------------------------------------+-------------------------------------------+--------------------------------------------------------+----------------------------+------------------+-------------------+---------------------+-------------------+----------------------+-------------+-------+----------------------+--------+
|   6317637    | Le Petit Souffle |     162     | Makati City | Third Floor| Century City Mall| Kalayaan Avenue| Poblacion| Makati City | Century City Mall| Poblacion| Makati City | Century City Mall| Poblacion| Makati City| Makati City | French| Japanese| Desserts | Botswana Pula(P) |        True       |        False        |       False       |        False         |      3      |  314  |         1100         |  4.8   |
+--------------+------------------+-------------+-------------+-------------------------------------------------------------------------+-------------------------------------------+--------------------------------------------------------+----------------------------+------------------+-------------------+---------------------+-------------------+----------------------+-------------+-------+----------------------+--------+

Check total number of restaurants

In [12]:
%%sql

SELECT COUNT(DISTINCT RestaurantName)  FROM zomato;

Running query in 'duckdb:///bank.duck.db'

+--------------------------------+
| count(DISTINCT RestaurantName) |
+--------------------------------+
|              7446              |
+--------------------------------+

Count of restaurants per city

In [20]:
%%sql
SELECT City, COUNT(DISTINCT RestaurantName) AS num
FROM bank.zomato
GROUP BY City
ORDER BY num DESC
LIMIT 10;

Running query in 'duckdb:///bank.duck.db'

+--------------+------+
|     City     | num  |
+--------------+------+
|  New Delhi   | 4295 |
|   Gurgaon    | 943  |
|    Noida     | 902  |
|  Faridabad   | 235  |
|  Ghaziabad   |  25  |
|  Ahmedabad   |  21  |
|   Lucknow    |  21  |
| Bhubaneshwar |  21  |
|   Amritsar   |  21  |
|   Guwahati   |  21  |
+--------------+------+
Truncated to displaylimit of 10.

Retrieve all restaurant names and their cities.

In [26]:
%%sql
SELECT DISTINCT RestaurantName, City
FROM bank.zomato;

Running query in 'duckdb:///bank.duck.db'

+---------------------------------+------------------+
|          RestaurantName         |       City       |
+---------------------------------+------------------+
|      Heat - Edsa Shangri-La     | Mandaluyong City |
|               Ooma              | Mandaluyong City |
|           Sambo Kojin           | Mandaluyong City |
|           Din Tai Fung          | Mandaluyong City |
|            Buffet 101           |    Pasay City    |
|         Silantro Fil-Mex        |    Pasig City    |
| Mad Mark's Creamery & Good Eats |    Pasig City    |
|            Guevarra's           |  San Juan City   |
|     Sodam Korean Restaurant     |  San Juan City   |
|     Nonna's Pasta & Pizzeria    |    Santa Rosa    |
+---------------------------------+------------------+
Truncated to displaylimit of 10.

List all unique cities present in the dataset.

In [27]:
%%sql
SELECT DISTINCT City
FROM bank.zomato;

Running query in 'duckdb:///bank.duck.db'

+------------------------+
|          City          |
+------------------------+
|    Mandaluyong City    |
|       Pasay City       |
|      Quezon City       |
|     Rio de Janeiro     |
|         Albany         |
|        Armidale        |
|        Balingup        |
|       Beechworth       |
| Cedar Rapids/Iowa City |
|      Chatham-Kent      |
+------------------------+
Truncated to displaylimit of 10.

Find all restaurants located in 'New Delhi'.

In [28]:
%%sql
SELECT DISTINCT RestaurantName FROM bank.zomato WHERE City = 'New Delhi';

Running query in 'duckdb:///bank.duck.db'

+--------------------------+
|      RestaurantName      |
+--------------------------+
|        Food Cloud        |
|        Burger.in         |
|     Days of the Raj      |
|        Govardhan         |
|        Say Cheese        |
|          Southy          |
|          Waves           |
|         BarShala         |
|     Clever Fox Cafe      |
| 4 on 44 Restaurant & Bar |
+--------------------------+
Truncated to displaylimit of 10.

Get the names of restaurants that have a rating of 4.8 or higher

In [30]:

%%sql
SELECT DISTINCT RestaurantName FROM bank.zomato WHERE Rating >= 4.8;

Running query in 'duckdb:///bank.duck.db'

+-------------------------------------+
|            RestaurantName           |
+-------------------------------------+
|                 Ooma                |
|          Braseiro da G?vea          |
|         Skye - Hotel Unique         |
|          Rae's Coastal Cafe         |
|       Shorts Burger and Shine       |
|             Oakwood Cafe            |
|               The Cafe              |
|    Atlanta Highway Seafood Market   |
|    Hollerbach's Willow Tree Caf?    |
| Pom Pom's Teahouse and Sandwicheria |
+-------------------------------------+
Truncated to displaylimit of 10.

List the top 10 restaurants with the most votes, showing their names and vote counts.

In [31]:
%%sql
SELECT DISTINCT RestaurantName, Votes
FROM bank.zomato
ORDER BY Votes DESC
LIMIT 10;

Running query in 'duckdb:///bank.duck.db'

+---------------------------+-------+
|       RestaurantName      | Votes |
+---------------------------+-------+
|            Toit           | 10934 |
|          Truffles         |  9667 |
|      Hauz Khas Social     |  7931 |
|         Peter Cat         |  7574 |
| AB's - Absolute Barbecues |  6907 |
|      Barbeque Nation      |  5966 |
|        Big Brewsky        |  5705 |
| AB's - Absolute Barbecues |  5434 |
|      The Black Pearl      |  5385 |
|           BarBQ           |  5288 |
+---------------------------+-------+
Truncated to displaylimit of 10.

What is the average rating of restaurants in each city? Display the city and its average rating.

In [33]:

%%sql
SELECT City, AVG(Rating) AS AverageRating
FROM bank.zomato
GROUP BY City
ORDER BY AverageRating DESC ;

Running query in 'duckdb:///bank.duck.db'

+------------------+-------------------+
|       City       |   AverageRating   |
+------------------+-------------------+
|    Inner City    |        4.9        |
|   Quezon City    |        4.8        |
|   Makati City    |        4.65       |
|    Pasig City    | 4.633333333333333 |
| Mandaluyong City |       4.625       |
|    Beechworth    |        4.6        |
|      London      | 4.534999999999999 |
|   Taguig City    |       4.525       |
|  Tagaytay City   |        4.5        |
|   Secunderabad   |        4.5        |
+------------------+-------------------+
Truncated to displaylimit of 10.

Find the restaurants that have the word 'Pizza' in their name

In [35]:
%%sql
SELECT DISTINCT RestaurantName
FROM bank.zomato
WHERE RestaurantName LIKE '%Pizza%';

Running query in 'duckdb:///bank.duck.db'

+--------------------------+
|      RestaurantName      |
+--------------------------+
|       Fong's Pizza       |
|     Bob Roe's Pizza      |
|      Jerry's Pizza       |
|      El Fredo Pizza      |
|        Pizza Hut         |
|      Da Pizza Zone       |
|        PizzaVito         |
| California Pizza Kitchen |
|      Pizza Central       |
|        Pizza King        |
+--------------------------+
Truncated to displaylimit of 10.

Get the names and ratings of restaurants that have more than 1000 votes, ordered by rating in descending order.

In [42]:

%%sql
SELECT DISTINCT RestaurantName, Rating
FROM bank.zomato
WHERE Votes > 1000
ORDER BY Rating DESC;

Running query in 'duckdb:///bank.duck.db'

+--------------------------------------------+--------+
|               RestaurantName               | Rating |
+--------------------------------------------+--------+
|              Silantro Fil-Mex              |  4.9   |
|    Pom Pom's Teahouse and Sandwicheria     |  4.9   |
|       McGuire's Irish Pub & Brewery        |  4.9   |
|             Mama's Fish House              |  4.9   |
| Mr. Dunderbak's Biergarten and Marketplatz |  4.9   |
|         AB's - Absolute Barbecues          |  4.9   |
|         Grandson of Tunday Kababi          |  4.9   |
|              Mirchi And Mime               |  4.9   |
|             Naturals Ice Cream             |  4.9   |
|              Talaga Sampireun              |  4.9   |
+--------------------------------------------+--------+
Truncated to displaylimit of 10.

What is the distribution of restaurants by price range? Show the count of restaurants for each price range.

In [44]:
%%sql
SELECT COUNT(DISTINCT RestaurantID) as count , Price_range
FROM bank.zomato
GROUP BY Price_range
ORDER BY Price_range;

Running query in 'duckdb:///bank.duck.db'

+-------+-------------+
| count | Price_range |
+-------+-------------+
|  4444 |      1      |
|  3113 |      2      |
|  1408 |      3      |
|  586  |      4      |
+-------+-------------+

For each city, find the restaurant with the highest rating

In [45]:
%%sql
SELECT City, MAX(Rating) AS HighestRating
FROM bank.zomato
GROUP BY City;

Running query in 'duckdb:///bank.duck.db'

+---------------+---------------+
|      City     | HighestRating |
+---------------+---------------+
|  Makati City  |      4.8      |
|   Pasig City  |      4.9      |
| San Juan City |      4.3      |
|   Santa Rosa  |      4.0      |
| Tagaytay City |      4.5      |
|  Taguig City  |      4.7      |
|    Bras?lia   |      4.9      |
|   S?o Paulo   |      4.8      |
|     Athens    |      4.6      |
|    Augusta    |      4.9      |
+---------------+---------------+
Truncated to displaylimit of 10.

Classify restaurants into 'Budget-Friendly', 'Mid-Range', and 'Expensive' based on 'Average_Cost_for_two'. Count how many restaurants fall into each category. (You can define your own price tiers).

In [48]:
%%sql
SELECT
    PriceCategory,
    COUNT(*) AS NumberOfRestaurants
FROM (
    SELECT
        RestaurantID,
        CASE
            WHEN Average_Cost_for_two < 500 THEN 'Budget-Friendly'
            WHEN Average_Cost_for_two >= 500 AND Average_Cost_for_two <= 1500 THEN 'Mid-Range'
            ELSE 'Expensive'
        END AS PriceCategory
    FROM
        bank.zomato
) AS Subquery
GROUP BY
    PriceCategory;

Running query in 'duckdb:///bank.duck.db'

+-----------------+---------------------+
|  PriceCategory  | NumberOfRestaurants |
+-----------------+---------------------+
|    Mid-Range    |         3793        |
|    Expensive    |         584         |
| Budget-Friendly |         5174        |
+-----------------+---------------------+

Find the top 5 most common cuisines in the dataset.

In [54]:
%%sql
SELECT Cuisines, COUNT(*) AS CuisineCount, MAX(Rating) AS HighestRating
FROM bank.zomato
GROUP BY Cuisines
ORDER BY CuisineCount DESC
LIMIT 5;

Running query in 'duckdb:///bank.duck.db'

+-----------------------+--------------+---------------+
|        Cuisines       | CuisineCount | HighestRating |
+-----------------------+--------------+---------------+
|      North Indian     |     936      |      4.9      |
| North Indian| Chinese |     511      |      4.9      |
|       Fast Food       |     354      |      4.9      |
|        Chinese        |     354      |      4.9      |
| North Indian| Mughlai |     334      |      4.6      |
+-----------------------+--------------+---------------+

What is the average number of votes for restaurants in each rating category? (e.g., for ratings 1-1.9, 2-2.9, 3-3.9, 4-4.9, 5)

In [57]:
%%sql
SELECT
    RatingCategory,
    AVG(Votes) AS AverageVotes
FROM (
    SELECT
        Votes,
        CASE
            WHEN Rating >= 1 AND Rating < 2 THEN '1.0 - 1.9'
            WHEN Rating >= 2 AND Rating < 3 THEN '2.0 - 2.9'
            WHEN Rating >= 3 AND Rating < 4 THEN '3.0 - 3.9'
            WHEN Rating >= 4 AND Rating < 5 THEN '4.0 - 4.9'
            WHEN Rating = 5 THEN '5.0'
            ELSE '0.0 - 0.9 (Unrated)' -- Handles ratings of 0
        END AS RatingCategory
    FROM
        bank.zomato
) AS Subquery
GROUP BY
    RatingCategory
ORDER BY
    RatingCategory;

Running query in 'duckdb:///bank.duck.db'

+----------------+--------------------+
| RatingCategory |    AverageVotes    |
+----------------+--------------------+
|   1.0 - 1.9    | 1.1171548117154813 |
|   2.0 - 2.9    |        45.6        |
|   3.0 - 3.9    | 133.5677559912854  |
|   4.0 - 4.9    | 592.7231884057971  |
+----------------+--------------------+